<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DANTE</title>
</head>
<body>

    <div>
        <h1>Circle 1</h1>
        <h2>LOGIN</h2>

        <form method="post" action="/circle2">
            <label for="username">Username:</label>
            <input id="username" name="username_value" type="text">
            <label for="username">Password:</label>
            <input id="password" name="password_value" type="password">
            <button type="submit">Sign In</button>
        </form>
    </div>


</body>
</html>