<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DANTE</title>
</head>
<body>

    <div>
        <h2>LOGIN</h2>

        {{#if errors}}
            {{#each errors}}
                <div>{{msg}}</div>
            {{/each}}
        {{/if}}

        <form method="post" action="/circle1">
            <label for="username">Username:</label>
            <input id="username" name="username" type="text">
            <label for="username">Password:</label>
            <input id="password" name="password" type="text">
            <button type="submit">Sign In</button>
        </form>
    </div>

<!--$erveThe5erpent-->

</body>
</html>